/*#region colores*/
:root{
  --gris-1: #3c3c3c;
  --gris-2: #515151;
  --gris-3: #666666;
  --gris-4: #8c8c8c;
  --gris-5: #b5b5b5;
  --gris-6: #171718;
  --gris-7: #1f2124;
  --gris-8: #393d42;
  --gris-9: #6a6e73;
  --gris-10: #9fa3a9;
  --gris-11: #65727c;
  --gris-12: #3e4144;
  --gris-13: #15202B;

  --azul-1: #1E3645;
  --azul-2: #164D72;
}
/*#endregion */

/*#region nav bar*/
.div-nav{
  background-color: var(--azul-1);
  font-size: 1.5rem;
  height: 3.5rem;
  list-style: none;
}

.nav-item{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: 900;
}

.div-nav li{
  display: inline-block;
  text-align: center;
}
/*#endregion */

/*#region tablero */
.div-tablero{
  background-color: var(--gris-6);
}
/*#endregion */

/*#region titles */
.title-lista{
  font-family: 'Roboto Mono';
  color: white;
  font-size: 1.5rem;
}

.title-task{
  font-family: 'Roboto Mono';
  color: white;
  font-size: 1.5rem;
}

.content-task{
  font-family: 'Roboto Mono';
  color: white;
  font-size: 1rem;
}
/*#endregion */

.paper{
  display: flex;
  flex-direction: column;
}

.div-lista{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--gris-7);
}

.div-scroll{
  height: 90%;
  overflow-y: scroll;
}

.grid-lista{
  display: flex;
  flex-direction: row;
}

.div-title-lista{
  background-color: var(--azul-2);
  text-align: center;
}

.div-footer{
  background-color: var(--gris-13);
}

.div-card{
  text-align: justify;
}