/*#region nav bar*/
.div-nav{
  background-color: #024059;
  font-size: 1.5rem;
  height: 3.5rem;
  list-style: none;
}

.nav-item{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: 900;
}

.div-nav li{
  display: inline-block;
  text-align: center;
}
/*#endregion */

/*#region tablero */
.div-tablero{
  background-color: #393d42;
  height: 100vh;
  width: 100vw;
}
/*#endregion */
